@model IEnumerable<EmprestimosModel>

<div class="container">



    <div class="d-flex justify-content-between align-items-center mb-5">
        <h1>Empréstimos</h1>
        <a class="btn btn-success mx-2" asp-controller="Emprestimo" asp-action="Cadastrar"><i class="bi bi-file-earmark-plus mx-2"></i>Cadastrar novo empréstimo</a>
        <!--Botão para entrar na página de cadastro de emprestimo, o mesmo utiliza o asp-controller para entrar no nosso controller e asp-action para localizar o nome da action da view do controlador Cadastrar -->
    </div>


    @if (TempData["MensagemSucesso"] != null){
        <div class="alert alert-success text-light" role="alert">

        @TempData["MensagemSucesso"]
        </div>
    } <!-- MENSAGEM DE SUCESSO DA EXCLUSÃO, EDIÇÃO E CADASTRO-->

     @if (TempData["MensagemErro"] != null){
        <div class="alert alert-danger text-light" role="alert">

            @TempData["MensagemErro"]
        </div>
    } <!-- MENSAGEM DE ERROR DA EXCLUSÃO, EDIÇÃO E CADASTRO-->


    <table id="Emprestimos" class="table table-light table-hover mt-5">
        <thead>
            <tr>
                <th scope="col">Recebedor</th>
                <th scope="col">Fornecedor</th>
                <th scope="col">Livro</th>
                <th scope="col">Última atualização</th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @if (Model != null)
            {

                @foreach (var emprestimo in Model) //PARA CADA ITEM QUE TEM DENTRO DO MODEL, CRIE UMA TABELA COM SUAS INFORMAÇÕES
                {
                    <tr>
                        <th scope="row">@emprestimo.Recebedor</th>
                        <td>@emprestimo.Fornecedor</td>
                        <td>@emprestimo.LivroEmprestado</td>
                        <td>@emprestimo.dataUltimaAtulizacao</td>
                        <td>
                            <a asp-controller="Emprestimo" asp-action="Editar" asp-route-id="@emprestimo.Id" class="btn btn-warning mx-2"><i class="bi bi-pencil-square mx-2"></i>Editar</a> <!-- asp-route-id="" ESTAMOS DECLARANDO QUE AO CLICAR NO BOTÃO, ESTAMOS LEVANDO JUNTO O ID DO EMPRESTIMO, ASSIM CONSEGUINDO EXCLUIR OU EDITAR AS INFORMAÇÕES -->
                            <a asp-controller="Emprestimo" asp-action="Excluir" asp-route-id="@emprestimo.Id" class="btn btn-danger mx-2"><i class="bi bi-trash3-fill mx-2"></i>Excluir</a>  <!-- asp-route-id="" ESTAMOS DECLARANDO QUE AO CLICAR NO BOTÃO, ESTAMOS LEVANDO JUNTO O ID DO EMPRESTIMO, ASSIM CONSEGUINDO EXCLUIR OU EDITAR AS INFORMAÇÕES -->
                        </td>
                    </tr>

                }

            }




        </tbody>
    </table>

</div>